* {
    padding: 0px;
    margin: 0px;
}

header {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 15px;
}

header #title {
    size: 5px;
}