* {
    padding: 0px;
    margin: 0px;
}

header {
    display: block;
    background-color: slateblue;
    border-radius: 0.5em;
}

header #title {
    text-align: center;
}

div {
    display: flex;
}

div .container {
    display: block;
    justify-content: space-between;
}

/* div h2 {
    display: block;
} */

body {
    background-color: aquamarine;
}